<%- include('partials/header'); %>

    <div class="bodyAbout container">
        <div class="row">
            <h1>About Content</h1>
            <div class="col">
                <h1>About Us</h1>
                <p>Kumalahadi, Kuncara, Sugeng Pamudji and Partners (KKSP & Partners), is a public accountant firm established in Yogyakarta in 2015. This is the new form of business entity after merging. This new public accountant firm comes from the merge of Kumalahadi, Kuncara and Sugeng Pamudji. Sugeng Pamudji has been operated since the first legalization from KEMENKEU in 1985 while Kumalahadi got his licence in 1990 and Kuncara, had experienced at Delloite for more than 5 years in Auditing also in other Public Accountant Firms in Jakarta and Yogyakarta. Throughout the years, we have been develop ourself to become the best. Started with only 3 partners, we have increase our partners into 11 partners in 2018. Today, our partners are located in several major cities in Indonesia such as Jakarta, Semarang, Solo, and Yogyakarta. During these years, we have serve more than 1000 national and internasional clients, and we will never stop to be the best Public Accountant Firm in Indonesia and the world.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Our Vision</h1>
                <p>Become a Public Accountant Office that is professional and trusted by the society</p>
            </div>
            <div class="col">
                <h1>Our Mision</h1>
                <ul>
                    <li>Providing professional services for public accountants with high competence, integrity, objective and in accordance with applicable professional standards.</li>
                    <li>Recruit, develop and maintain professional staff who are competent, high integrity and communicative.</li>
                    <li>Providing value added for clients</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1>Dr. Kumalahadi, S.E., M.Sc., Ak., CA., CPA.</h1>
            </div>
            <div class="col">
                <h1>M. Kuncara Budi Santosa, S.E., Ak., MM., CA., CPA., BKP </h1>
            </div>
            <div class="col">
                <h1>Tjoepit Samiadji, S.E., Ak., CA., CPA.</h1>
            </div>
            <div class="col">
                <h1>Sugeng Pamudji.,M.Ak. Ph.D.,CA.,CPA.</h1>
            </div>
        </div>
    </div>

<%- include('partials/footer') %>