<%- include('partials/header.ejs') %>

  <div class="container-fluid">
    <div class="row">
      <div class="welcomePage col">
        <h1>Welcome</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>Index Content 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>Why Us ?</h1>
        <p>I’ve heard the argument that “lorem ipsum” is effective in wireframing or design because it helps people focus on the actual layout, or color scheme, or whatever. What kills me here is that we’re talking about creating a user experience that will (whether we like it or not) be DRIVEN by words. The entire structure of the page or app flow is FOR THE WORDS.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>Our Service</h1>
        <div class="row">
          <div class="col">
            <h4>Audit and Assurance Services</h4>
            <p>imporve corporate reporting and provide assurance that systems are operating effectively within a business environment. Provide assurance over the quality of financial information.</p>
          </div>
          <div class="col">
            <h4>Financial Advisor Services</h4>
            <p>Implement and itegrated suite of solutions covering deals, transaction support, and performance improvement.</p>
          </div>
          <div class="col">
            <h4>Tax Services</h4>
            <p>Optimese tax formulation of effective tax strategies and innovative tax planing.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">

      </div>
    </div>
  </div>
  

<%- include('partials/footer.ejs') %>