<%- include('partials/header'); %>
    <div class="serviceBody">
        <h1>Service Content</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Service 1</h1>
                </div>
                <div class="col">
                    <h1>Service 2</h1>
                </div>
                <div class="col">
                    <h1>Service 3</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Service 4</h1>
                </div>
                <div class="col">
                    <h1>Service 5</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>google map</h1>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer'); %>